nodered json2.json
[{"id":"57dc3a93.187274","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"566ea927.931f48","type":"ibmiot in","z":"57dc3a93.187274","authentication":"apiKey","apiKey":"f91c268e.efa9f8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"Raspberry","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":340,"wires":[["776cb4ae.f4c2ec"]]},{"id":"6d418bfc.fba5d4","type":"function","z":"57dc3a93.187274","name":"pre-token","func":"global.set('age',msg.payload.age)\nglobal.set('temp',msg.payload.temp)\nglobal.set('sys',msg.payload.sys)\nglobal.set('dia',msg.payload.dia)\nglobal.set('pulse',msg.payload.pulse)\nvar apikey=\"U9_Rh9VG7iJz0kj2CQ5fCjzvh0kYSBpbCs_D5fvA9JIi\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":660,"wires":[["90960a72.0904a8"]]},{"id":"90960a72.0904a8","type":"http request","z":"57dc3a93.187274","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":540,"wires":[["cbcc906c.6b11c","e520a77d.0f0148"]]},{"id":"cbcc906c.6b11c","type":"debug","z":"57dc3a93.187274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":660,"wires":[]},{"id":"e520a77d.0f0148","type":"function","z":"57dc3a93.187274","name":"Pre Prediction","func":"var age = global.get(\"age\")\nvar temp = global.get(\"temp\")\nvar sys = global.get(\"sys\")\nvar dia = global.get(\"dia\")\nvar pulse = global.get(\"pulse\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\",\"Pulse\"]],\"values\": [[age,temp,sys,dia,pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":520,"wires":[["24c79d22.b457b2"]]},{"id":"24c79d22.b457b2","type":"http request","z":"57dc3a93.187274","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/4de8827b-1247-44a3-a1bf-776e73a13d07/predictions?version=2021-06-04","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":660,"wires":[["f52246d4.5c1aa8","ac100766.cf9548"]]},{"id":"f52246d4.5c1aa8","type":"function","z":"57dc3a93.187274","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":540,"wires":[["28baefd2.cd1a"]]},{"id":"776cb4ae.f4c2ec","type":"function","z":"57dc3a93.187274","name":"Global Variable","func":"global.set(\"age\",msg.payload.Age)\nglobal.set(\"temp\",msg.payload.Temperature)\nglobal.set(\"sys\",msg.payload.Systolic)\nglobal.set(\"dia\",msg.payload.Diastolic)\nglobal.set(\"pulse\",msg.payload.Pulse)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":340,"wires":[[]]},{"id":"28baefd2.cd1a","type":"ui_text","z":"57dc3a93.187274","group":"2bae2dba.773fa2","order":2,"width":0,"height":0,"name":"","label":"Result","format":"{{msg.payload}}","layout":"row-center","x":870,"y":580,"wires":[]},{"id":"84e9e1dc.f8d4e","type":"ui_form","z":"57dc3a93.187274","name":"","label":"","group":"2bae2dba.773fa2","order":3,"width":0,"height":0,"options":[{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Temperature","value":"temp","type":"number","required":true,"rows":null},{"label":"Systolic","value":"sys","type":"number","required":true,"rows":null},{"label":"Diastolic","value":"dia","type":"number","required":true,"rows":null},{"label":"Pulse","value":"pulse","type":"number","required":true,"rows":null}],"formValue":{"age":"","temp":"","sys":"","dia":"","pulse":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":500,"wires":[["49382f28.d4066","6d418bfc.fba5d4"]]},{"id":"49382f28.d4066","type":"debug","z":"57dc3a93.187274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":420,"wires":[]},{"id":"ac100766.cf9548","type":"debug","z":"57dc3a93.187274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":700,"wires":[]},{"id":"f91c268e.efa9f8","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2bae2dba.773fa2","type":"ui_group","name":"prediction","tab":"4696b45d.85a4ec","order":1,"disp":true,"width":"6","collapse":false},{"id":"4696b45d.85a4ec","type":"ui_tab","name":"health data","icon":"dashboard","order":3,"disabled":false,"hidden":false}]